@media (min-height: 680px), screen and (orientation: portrait) {
  /* … */
}

body {
  background-image: src("https://w.wallhaven.cc/full/1k/wallhaven-1k9e5g.png");
  background-repeat: no-repeat;
  background-size: cover;
  background-color: #2d3054;
  background-attachment: fixed;
  background-repeat: no-repeat;
  background-position: right top;
  background-size: 100% 100%;
  justify-content: center;
  align-items: center;
  text-align: center;
  margin: auto;
  display: flex;
  padding: 1%;
  gap: 1rem;
}

/* Flex */
.flex-container {
  display: flex;
  flex-direction: column;
}

.flex-container > div {
  padding: 1%;
}

/* Grid items */
.list {
  order: 4;
  grid-area: list;
  background-color: #2633c080;
  overflow: hidden;
  flex: 1;
  gap: 1rem;
  box-sizing: border-box;
  width: 100px;
}

.socials {
  order: 2;
  grid-area: socials;
  box-sizing: border-box;
  position: relative;
  overflow: hidden;
  width: 100%;
}

.content {
  order: 3;
  grid-area: content;
  position: relative;
  overflow: hidden;
  flex: 1;
  background-image: url("https://imgur.com/a/0N0mWiS");
  background-color: aqua;
  background-repeat: no-repeat;
  background-size: fill;
  box-sizing: border-box;
  width: clamp(400px, 1000px, 1700px);
  justify-content: center;
  align-content: center;
}

.header {
  order: 1;
  grid-area: header;
  box-sizing: border-box;
  align-items: baseline;
  overflow: hidden;
  width: clamp(500px, 100%, 1200px);
}

/* Grid container */
.grid-container {
  display: grid;
  grid-template-areas:
    "header header header header"
    "content content content list"
    "content content content list"
    "socials socials socials socials";
  gap: 1rem;
}

.grid-container > div {
  text-align: center;
  padding: 3%;
  size: fill;
}

/*  Images */
.pocastLogo {
  width: 100%;
  height: auto;
}

div.gallery:hover {
  border: 1rem solid #777;
}

.gallery {
}

.icon {
  size: 32px;
  align-items: baseline;
}

.iframe-container {
  position: relative;
  overflow: hidden;
  width: max-content;
  height: auto;
}

.responsive-iframe {
  aspect-ratio: 16 / 9;
  position: relative;
  overflow: hidden;
  width: 100%;
}

.tn {
  width: 100%;
  height: auto;
}
