body {
  background-image: url("https://w.wallhaven.cc/full/1k/wallhaven-1k9e5g.png");
  background-repeat: no-repeat;
  background-color: #2d3054;
  background-attachment: fixed;
  background-position: right top;
  background-size: 100% 100%;
  max-height: 100vh;
}

.list {
  gap: 1rem;
  padding: 5%;
}

.tns {
  background-color: #2633c080;
}

.socials {
  align-items: baseline;
  text-align: center;
  width: 100%;
}

div.gallery:hover {
  size: 200%;
  border: 1rem solid #777;
}

.icon {
  size: 32px;
  align-items: baseline;
}

.iframe-container {
  position: relative;
  overflow: hidden;
  width: max-content;
  height: auto;
}

.responsive-iframe {
  aspect-ratio: 16 / 9;
  position: relative;
  overflow: hidden;
  width: 100%;
}

.main {
  gap: 1rem;
}
