body {
  background-image: url("https://w.wallhaven.cc/full/1k/wallhaven-1k9e5g.png");
  background-repeat: no-repeat;
  background-color: #2d3054;
  background-attachment: fixed;
  background-position: right top;
  background-size: 100% 100%;
  max-height: 100vh;
  height: 100%;
  width: auto;
}

.list {
  gap: 1rem;
  padding: 5%;
}

.tns {
  background-color: #2633c080;
}

div.gallery:hover {
  transform: scale(1.5);
  border: 0.2rem solid #777;
}

.icon {
  display: inline-block;
  color: rgb(44, 44, 44);
  align-items: baseline;
}

.header {
  width: 100%;
  margin: 0;
}
